USE [TESTETL]
GO
/****** Object:  Table [Web].[Alborz_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Alborz_CustomerSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[CustomerCode] [nvarchar](100) NULL,
	[Customer] [nvarchar](256) NULL,
	[GLN] [nvarchar](256) NULL,
	[Address] [nvarchar](2000) NULL,
	[ShomarehFaktor] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[NetPrice] [decimal](18, 0) NULL,
	[Bonus] [int] NULL,
	[ReturnQuantity] [int] NULL,
	[ReturnPrice] [decimal](18, 0) NULL,
	[ReturnBonus] [int] NULL,
	[NoeBarge] [nvarchar](100) NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Alborz_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Alborz_Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [nvarchar](256) NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[Batch] [nvarchar](256) NULL,
	[InventoryCount] [int] NULL,
	[InventoryAmount] [decimal](18, 0) NULL,
	[InventoryAway] [int] NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL,
	[ExpirationDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Barij_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Barij_CustomerSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[CustomerCode] [nvarchar](100) NULL,
	[Customer] [nvarchar](256) NULL,
	[GLN] [nvarchar](256) NULL,
	[Address] [nvarchar](2000) NULL,
	[ShomarehFaktor] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[NetPrice] [decimal](18, 0) NULL,
	[Bonus] [int] NULL,
	[ReturnQuantity] [int] NULL,
	[ReturnPrice] [decimal](18, 0) NULL,
	[ReturnBonus] [int] NULL,
	[NoeBarge] [nvarchar](100) NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Barij_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Barij_Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [nvarchar](256) NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[Batch] [nvarchar](256) NULL,
	[InventoryCount] [int] NULL,
	[InventoryAmount] [decimal](18, 0) NULL,
	[InventoryAway] [int] NULL,
	[DateKey] [int] NULL,
	[IsInsert] [bit] NULL,
	[ExpirationDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Daya_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Daya_CustomerSales](
	[Factordate] [varchar](10) NULL,
	[CostUprc] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[RecordTypeId] [int] NULL,
	[RecordType] [nvarchar](50) NULL,
	[IsPrize] [int] NULL,
	[BatchNumber] [varchar](20) NULL,
	[ExpireDate] [varchar](10) NULL,
	[CenterName] [nvarchar](100) NULL,
	[CenterId] [int] NULL,
	[CustomerName] [nvarchar](500) NULL,
	[ProductId] [varchar](10) NULL,
	[ProductName] [nvarchar](500) NULL,
	[Gln] [varchar](20) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Daya_inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Daya_inventory](
	[date] [varchar](10) NULL,
	[CostUprc] [decimal](18, 2) NULL,
	[InventoryQty] [int] NULL,
	[OnWayQty] [int] NULL,
	[DamagedQty] [int] NULL,
	[NotDistributedQty] [int] NULL,
	[Blockedqty] [int] NULL,
	[InventoryPrice] [decimal](18, 2) NULL,
	[BatchNumber] [varchar](20) NULL,
	[ExpireDate] [varchar](10) NULL,
	[CenterName] [nvarchar](100) NULL,
	[CenterId] [int] NULL,
	[ProductId] [varchar](10) NULL,
	[ProductName] [nvarchar](500) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[ferdows_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[ferdows_CustomerSales](
	[uniqueId] [int] NULL,
	[invoiceDate] [varchar](10) NULL,
	[invoiceNo] [int] NULL,
	[centerWarehouseId] [int] NULL,
	[warehouseId] [int] NULL,
	[warehouseName] [nvarchar](100) NULL,
	[warehouseOfficeName] [nvarchar](100) NULL,
	[customerCode] [int] NULL,
	[customerName] [nvarchar](255) NULL,
	[provinceCode] [int] NULL,
	[provinceName] [nvarchar](100) NULL,
	[productCode] [int] NULL,
	[productName] [nvarchar](255) NULL,
	[quantity] [int] NULL,
	[expireDate] [varchar](10) NULL,
	[batchNo] [varchar](10) NULL,
	[productPrice] [int] NULL,
	[documentType] [nvarchar](50) NULL,
	[documentTypeId] [int] NULL,
	[gln] [varchar](20) NULL,
	[customerType] [nvarchar](50) NULL,
	[customerTypeId] [int] NULL,
	[buyFee] [int] NULL,
	[endUserFee] [int] NULL,
	[refInvoiceNo] [int] NULL,
	[refInvoiceDate] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[ferdows_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[ferdows_Inventory](
	[productCode] [varchar](10) NULL,
	[productName] [nvarchar](255) NULL,
	[warehouseId] [int] NULL,
	[warehouseName] [nvarchar](100) NULL,
	[batchNo] [varchar](10) NULL,
	[expireDate] [varchar](10) NULL,
	[inventory] [int] NULL,
	[onWay] [int] NULL,
	[quantitySaleFee] [decimal](18, 2) NULL,
	[onWaySaleFee] [decimal](18, 2) NULL,
	[saleFee] [decimal](18, 2) NULL,
	[buyFee] [decimal](18, 2) NULL,
	[endUserFee] [decimal](18, 2) NULL,
	[irc] [varchar](20) NULL,
	[gtin] [varchar](20) NULL,
	[jalali] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[hasti_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[hasti_CustomerSales](
	[BatchNo] [varchar](10) NULL,
	[CustGLN] [varchar](20) NULL,
	[CustID] [varchar](10) NULL,
	[CustName] [nvarchar](500) NULL,
	[DSID] [varchar](10) NULL,
	[DSName] [nvarchar](50) NULL,
	[ProdID] [varchar](20) NULL,
	[ProdName] [nvarchar](255) NULL,
	[ProdPrice] [decimal](18, 2) NULL,
	[ProdPriceKhales] [decimal](18, 2) NULL,
	[ProdPriceSum] [decimal](18, 2) NULL,
	[ProdPriceRet] [decimal](18, 2) NULL,
	[ProdQty] [int] NULL,
	[ProdQtyKhales] [int] NULL,
	[ProdQtyRet] [int] NULL,
	[ProdSumDis] [int] NULL,
	[ProdSumDisRet] [int] NULL,
	[SalesDate] [varchar](10) NULL,
	[SalesID] [varchar](10) NULL,
	[TypeSales] [nvarchar](20) NULL,
	[isinsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[hasti_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[hasti_Inventory](
	[BatchNo] [varchar](10) NULL,
	[DSID] [varchar](10) NULL,
	[DSName] [nvarchar](50) NULL,
	[ExpDate] [varchar](10) NULL,
	[ExpDateMiladi] [varchar](10) NULL,
	[GTIN] [varchar](20) NULL,
	[IRC] [varchar](20) NULL,
	[InWay] [int] NULL,
	[ProdID] [varchar](20) NULL,
	[ProdName] [nvarchar](255) NULL,
	[QtyStock] [int] NULL,
	[QtystockPrice] [decimal](18, 2) NULL,
	[isinsert] [bit] NULL,
	[datekey] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Hejrat_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Hejrat_CustomerSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[CustomerCode] [nvarchar](100) NULL,
	[Customer] [nvarchar](256) NULL,
	[GLN] [nvarchar](256) NULL,
	[Address] [nvarchar](2000) NULL,
	[ShomarehFaktor] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [int] NULL,
	[NetPrice] [int] NULL,
	[Bonus] [int] NULL,
	[ReturnQuantity] [int] NULL,
	[ReturnPrice] [int] NULL,
	[ReturnBonus] [int] NULL,
	[NoeBarge] [nvarchar](100) NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Hejrat_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Hejrat_Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[Batch] [nvarchar](256) NULL,
	[InventoryCount] [int] NULL,
	[InventoryAmount] [int] NULL,
	[InventoryAway] [int] NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL,
	[ExpirationDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Mahya_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Mahya_CustomerSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[CustomerCode] [nvarchar](100) NULL,
	[Customer] [nvarchar](256) NULL,
	[GLN] [nvarchar](256) NULL,
	[Address] [nvarchar](2000) NULL,
	[ShomarehFaktor] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[NetPrice] [decimal](18, 0) NULL,
	[Bonus] [int] NULL,
	[ReturnQuantity] [int] NULL,
	[ReturnPrice] [decimal](18, 0) NULL,
	[ReturnBonus] [int] NULL,
	[NoeBarge] [nvarchar](100) NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Mahya_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Mahya_Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [nvarchar](256) NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[Batch] [nvarchar](256) NULL,
	[InventoryCount] [int] NULL,
	[InventoryAmount] [decimal](18, 0) NULL,
	[InventoryAway] [int] NULL,
	[DateKey] [int] NULL,
	[IsInsert] [bit] NULL,
	[ExpirationDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Mahya_ProductSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Mahya_ProductSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[Batch] [nvarchar](256) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[NetPrice] [int] NULL,
	[Bonus] [int] NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_center]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_center](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[centerKey] [int] NULL,
	[center] [nvarchar](100) NULL,
	[cityKey] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_Customer]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_Customer](
	[customerKey] [int] NOT NULL,
	[customerCode] [int] NULL,
	[isDeactivated] [bit] NULL,
	[customer] [nvarchar](255) NULL,
	[centerKeyNow] [int] NULL,
	[centerNow] [nvarchar](100) NULL,
	[customerType] [nvarchar](100) NULL,
	[pharmacyType] [nvarchar](100) NULL,
	[ownershipType] [nvarchar](100) NULL,
	[regulatoryAgencyKey] [int] NULL,
	[regulatoryAgency] [nvarchar](255) NULL,
	[gln] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_CustomerSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[CustomerCode] [nvarchar](100) NULL,
	[Customer] [nvarchar](256) NULL,
	[GLN] [nvarchar](256) NULL,
	[Address] [nvarchar](2000) NULL,
	[ShomarehFaktor] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Quantityconfirmed] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[ReturnQuantity] [int] NULL,
	[invOperationCode] [int] NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distribution] [nvarchar](256) NULL,
	[DistributionCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[CostCenterName] [nvarchar](100) NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [nvarchar](256) NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[Batch] [nvarchar](256) NULL,
	[ExpirationDate] [date] NULL,
	[Cost] [decimal](18, 0) NULL,
	[Price] [decimal](18, 0) NULL,
	[userPrice] [decimal](18, 0) NULL,
	[StockQty] [int] NULL,
	[StockAmnt] [decimal](18, 0) NULL,
	[QtyConfirmed] [int] NULL,
	[AmountPrice] [decimal](18, 0) NULL,
	[NetAmountPrice] [decimal](18, 0) NULL,
	[QtyConfirmed_Invoice] [int] NULL,
	[AmountPrice_Return] [decimal](18, 0) NULL,
	[QtyConfirmed_Return] [int] NULL,
	[DarRahQty] [int] NULL,
	[DarRahAmountCost] [decimal](18, 0) NULL,
	[PurchaseQty] [int] NULL,
	[RespiteDays] [int] NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_InventoryNew]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_InventoryNew](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[centerKey] [int] NULL,
	[productKey] [int] NULL,
	[skuKey] [int] NULL,
	[dateKey] [int] NULL,
	[quantity] [int] NULL,
	[qtyOnTheWay] [int] NULL,
	[cost] [bigint] NULL,
	[price] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_Products]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_Products](
	[productKey] [int] NOT NULL,
	[productCode] [int] NULL,
	[product] [nvarchar](255) NULL,
	[genericCode] [varchar](20) NULL,
	[irc] [varchar](20) NULL,
	[gtin] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[productKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_ReturnSalesNew]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_ReturnSalesNew](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productKey] [int] NULL,
	[skuKey] [int] NULL,
	[dateKey] [int] NULL,
	[centerKey] [int] NULL,
	[customerKey] [int] NULL,
	[returnNumber] [int] NULL,
	[quantity] [int] NULL,
	[cost] [bigint] NULL,
	[price] [bigint] NULL,
	[consumerPrice] [bigint] NULL,
	[headerId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_SalesNew]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_SalesNew](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productKey] [int] NULL,
	[skuKey] [int] NULL,
	[dateKey] [int] NULL,
	[centerKey] [int] NULL,
	[customerKey] [int] NULL,
	[invoiceNumber] [int] NULL,
	[quantity] [int] NULL,
	[cost] [bigint] NULL,
	[price] [bigint] NULL,
	[consumerPrice] [bigint] NULL,
	[headerId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Momtaz_SKUs]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Momtaz_SKUs](
	[skuKey] [int] NOT NULL,
	[productKey] [int] NULL,
	[batchNumber] [varchar](50) NULL,
	[expireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[skuKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Qhasem_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Qhasem_CustomerSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[CustomerCode] [nvarchar](100) NULL,
	[Customer] [nvarchar](256) NULL,
	[GLN] [nvarchar](256) NULL,
	[Address] [nvarchar](2000) NULL,
	[ShomarehFaktor] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[NetPrice] [decimal](18, 0) NULL,
	[Bonus] [int] NULL,
	[ReturnQuantity] [int] NULL,
	[ReturnPrice] [decimal](18, 0) NULL,
	[ReturnBonus] [int] NULL,
	[NoeBarge] [nvarchar](100) NULL,
	[DateKey] [int] NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Qhasem_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Qhasem_Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[Batch] [nvarchar](256) NULL,
	[InventoryCount] [int] NULL,
	[InventoryAmount] [decimal](18, 0) NULL,
	[InventoryAway] [int] NULL,
	[DateKey] [int] NULL,
	[IsInsert] [bit] NULL,
	[ExpirationDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Razi_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Razi_CustomerSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [int] NULL,
	[CustomerCode] [nvarchar](100) NULL,
	[Customer] [nvarchar](256) NULL,
	[GLN] [nvarchar](256) NULL,
	[Address] [nvarchar](2000) NULL,
	[ShomarehFaktor] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[ReturnPrice] [decimal](18, 0) NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Razi_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Razi_Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distributor] [nvarchar](256) NULL,
	[DistributorCode] [int] NULL,
	[Center] [nvarchar](100) NULL,
	[CenterCode] [int] NULL,
	[Product] [nvarchar](256) NULL,
	[ProductCode] [nvarchar](256) NULL,
	[IRC] [nvarchar](256) NULL,
	[GTIN] [nvarchar](256) NULL,
	[BatchID] [int] NULL,
	[Batch] [nvarchar](256) NULL,
	[InventoryCount] [int] NULL,
	[InventoryAway] [int] NULL,
	[Inventoryzayeat] [int] NULL,
	[InventoryMamnoetozie] [int] NULL,
	[ExpirationDate] [date] NULL,
	[Date] [nvarchar](100) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[titac]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[titac](
	[Id] [int] NULL,
	[GLN] [nvarchar](16) NOT NULL,
	[OwnerNationalCode] [nvarchar](16) NULL,
	[PostalCode] [nvarchar](12) NULL,
	[Name] [nvarchar](250) NULL,
	[OwnerName] [nvarchar](250) NULL,
	[TellNumber] [nvarchar](50) NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[HIXCode] [nvarchar](20) NULL,
	[UniversityName] [nvarchar](250) NULL,
	[ServiceType] [nvarchar](250) NULL,
	[PharmacyType] [nvarchar](250) NULL,
	[Address] [nvarchar](500) NULL,
	[Provice] [nvarchar](100) NULL,
	[County] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[LastUpdate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Toba_CustomerSales]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Toba_CustomerSales](
	[UniqueId] [varchar](20) NULL,
	[FactorId] [int] NULL,
	[Factordate] [bigint] NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Price] [decimal](18, 2) NULL,
	[RecordTypeId] [int] NULL,
	[RecordType] [nvarchar](50) NULL,
	[IsPrize] [bit] NULL,
	[BatchNumber] [varchar](20) NULL,
	[ExpireDate] [bigint] NULL,
	[CenterId] [int] NULL,
	[CenterName] [nvarchar](100) NULL,
	[CustomerId] [varchar](20) NULL,
	[CustomerName] [nvarchar](500) NULL,
	[CustomerType] [nvarchar](20) NULL,
	[CustomerTypeId] [int] NULL,
	[ProductId] [bigint] NULL,
	[ProductName] [nvarchar](500) NULL,
	[Gln] [varchar](20) NULL,
	[IsInsert] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Web].[Toba_Inventory]    Script Date: 6/23/2025 7:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Web].[Toba_Inventory](
	[ExpireDate] [int] NULL,
	[SerialNo] [varchar](50) NULL,
	[StockQty] [decimal](18, 2) NULL,
	[DarRahQty] [decimal](18, 2) NULL,
	[NotDistributedQty] [decimal](18, 2) NULL,
	[totCostCenterID] [int] NULL,
	[totCostCenterName] [nvarchar](100) NULL,
	[invProductID] [varchar](50) NULL,
	[invProdctName] [nvarchar](255) NULL,
	[StockAmnt] [decimal](18, 2) NULL,
	[ZayeatQty] [decimal](18, 2) NULL,
	[ReservedQty] [decimal](18, 2) NULL,
	[datekey] [bigint] NULL
) ON [PRIMARY]
GO
