USE [stage_speedy]
GO
/****** Object:  Table [dbo].[DateFiscal]    Script Date: 8/12/2025 9:45:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateFiscal](
	[startdate] [varchar](32) NOT NULL,
	[enddate] [varchar](32) NOT NULL,
	[id] [varchar](24) NOT NULL,
	[season] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DateFiscal] ([startdate], [enddate], [id], [season]) VALUES (N'13900101', N'13900331', N'11', N'3ماهه')
INSERT [dbo].[DateFiscal] ([startdate], [enddate], [id], [season]) VALUES (N'13910101', N'13910331', N'21', N'3ماهه')
INSERT [dbo].[DateFiscal] ([startdate], [enddate], [id], [season]) VALUES (N'13920101', N'13920331', N'31', N'3ماهه')
GO
