USE [DW]
GO
/****** Object:  Schema [kharazmi]    Script Date: 6/15/2025 4:03:33 PM ******/
CREATE SCHEMA [kharazmi]
GO
/****** Object:  Table [dbo].[dimdate]    Script Date: 6/15/2025 4:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimdate](
	[Date] [date] NOT NULL,
	[Gregorian] [varchar](10) NOT NULL,
	[Gregorian_Year] [smallint] NOT NULL,
	[Gregorian_Month] [smallint] NOT NULL,
	[Gregorian_MonthStr] [varchar](3) NOT NULL,
	[Gregorian_MonthString] [varchar](9) NOT NULL,
	[Gregorian_Day] [smallint] NOT NULL,
	[Gregorian_DayOfWeekId] [smallint] NOT NULL,
	[Gregorian_DayOfWeek] [varchar](10) NOT NULL,
	[Gregorian_DayOfWeekStr] [varchar](3) NOT NULL,
	[Gregorian_DayOfYear] [smallint] NOT NULL,
	[Gregorian_ToLongDateString] [varchar](32) NOT NULL,
	[Gregorian_YearMonth] [varchar](7) NOT NULL,
	[Gregorian_MonthDay] [varchar](5) NOT NULL,
	[SeasonEn] [varchar](6) NOT NULL,
	[Gregorian_Format1] [varchar](32) NOT NULL,
	[Gregorian_Format2] [varchar](32) NOT NULL,
	[Gregorian_Format3] [varchar](32) NOT NULL,
	[Gregorian_Format4] [varchar](32) NOT NULL,
	[Gregorian_Format5] [varchar](32) NOT NULL,
	[Gregorian_Format6] [varchar](32) NOT NULL,
	[Jalali] [varchar](10) NOT NULL,
	[Jalali_Year] [smallint] NOT NULL,
	[Jalali_Month] [smallint] NOT NULL,
	[Jalali_MonthString] [nvarchar](10) NOT NULL,
	[Jalali_Day] [smallint] NOT NULL,
	[Jalali_DayOfWeekId] [smallint] NOT NULL,
	[Jalali_DayOfWeek] [nvarchar](10) NOT NULL,
	[Jalali_DayOfYear] [smallint] NOT NULL,
	[Jalali_ToLongDateString] [nvarchar](32) NOT NULL,
	[Jalali_YearMonth] [varchar](7) NOT NULL,
	[Jalali_MonthDay] [varchar](5) NOT NULL,
	[SeasonFa] [nvarchar](7) NOT NULL,
	[Jalali_Format1] [nvarchar](32) NOT NULL,
	[Jalali_Format2] [nvarchar](32) NOT NULL,
	[Jalali_Format3] [nvarchar](32) NOT NULL,
	[Jalali_Format4] [nvarchar](32) NOT NULL,
	[Jalali_Format5] [nvarchar](32) NOT NULL,
	[Jalali_Format6] [nvarchar](32) NOT NULL,
	[datekey] [int] NOT NULL,
	[isworkingday] [int] NULL,
	[seasonID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DimDate_Big]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   view [dbo].[vw_DimDate_Big] as


SELECT *

  

 ,case when Jalali_YearMonth = (select Jalali_YearMonth from [DW].[dbo].[dimdate] where Date = cast(GETDATE() as date)) then 1 else 0 end as Curren_Month
  , case when Jalali_Year = (select Jalali_Year from [DW].[dbo].[dimdate] where Date = cast(GETDATE() as date)) then 1 else 0 end as Current_Year
  ,case when Jalali_YearMonth = (select Jalali_YearMonth from [DW].[dbo].[dimdate] where Date = DATEADD(day,-30, cast(GETDATE() as date))) then 1 else 0 end as Last_Month
  , case when Jalali_Year = (select Jalali_Year from [DW].[dbo].[dimdate] where Date = DATEADD(YEAR,-1, cast(GETDATE() as date))) then 1 else 0 end as Last_Year
  , case when SeasonEn in( 'Autumn', 'Winter') then 2 else 1 end as Semester
  from [DW].[dbo].[dimdate] where Gregorian between '2009-12-12' and cast(GETDATE() as date)
 

 
GO
/****** Object:  View [dbo].[vw_Tiket]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   view   [dbo].[vw_Tiket]
as (
SELECT        alc.idCase, CAST(alc.casCreationDate AS date) AS StartDate, DATEDIFF(MINUTE, casCreationDate, a.wiExitDate) - DATEDIFF(MINUTE, a.wiEntryDate, a.wiExitDate) AS DateBeforDone, DATEDIFF(MINUTE, a.wiEntryDate, 
                         a.wiExitDate) AS duration_minute, t.Rate, t.timeRequired * 60 AS timeRequired_minute, tch.idprm_TicketCtgHeadline, tch.headLine, tch.ticketCategory, tc.categoryTitle, t.applicant, ura.fullName AS requester, cs.csName, 
                         ur.fullName AS processor, ur.iduser, a.decisionTitle, a.tskDisplayName, CAST(a.wiExitDate AS date) AS EndDate, ITI.Title
FROM             [192.168.10.11].ExtraBizagiDB.dbo.vw_AllCases AS alc LEFT OUTER JOIN
                             (SELECT        *
                               FROM             [192.168.10.11].Prd_Bamdad.dbo.tbl_Ticket) AS t ON alc.idCase = t.caseId LEFT OUTER JOIN
                          [192.168.10.11].Prd_Bamdad.dbo.WFUSER AS u ON u.idUser = t.applicant LEFT OUTER JOIN
                             (SELECT        *
                               FROM             [192.168.10.11].Prd_Bamdad.dbo.prm_TicketCtgHeadline) AS tch ON tch.idprm_TicketCtgHeadline = t.ticketCtgHeadLine LEFT OUTER JOIN
                             (SELECT        *
                               FROM             [192.168.10.11].Prd_Bamdad.dbo.prm_TicketCategory) AS tc ON tc.idprm_TicketCategory = tch.ticketCategory LEFT OUTER JOIN
                             (SELECT        *
                               FROM             [192.168.10.11].Prd_Bamdad.dbo.prm_ITIlLevel) AS ITI ON ITI.idprm_ITIlLevel = tch.ITIlLevel LEFT OUTER JOIN
                             (SELECT        *
                               FROM             [192.168.10.11].Prd_Bamdad.dbo.WFUSER) AS ur ON ur.idUser = CASE WHEN teckExpert IS NOT NULL THEN teckExpert ELSE HeadOrTeckExpert END LEFT OUTER JOIN
                             (SELECT        *
                               FROM             [192.168.10.11].Prd_Bamdad.dbo.WFUSER) AS ura ON ura.idUser = t.applicant LEFT OUTER JOIN
                             (SELECT        *
                               FROM            [192.168.10.11].Prd_Bamdad.dbo.CASESTATE) AS cs ON cs.idCaseState = alc.idCaseState LEFT OUTER JOIN
                             (SELECT        casefull.CaseId, casedetail.idprm_TaskDecision, decisionTitle, wiEntryDate, wiExitDate, WorkItemId, tskDisplayName
                               FROM            (SELECT   MAX(idtbl_CaseDescriptions) AS idtbl_CaseDescriptions, CaseId
													FROM  [192.168.10.11].ExtraBizagiDB.dbo.vw_CaseDescriptionFull
													WHERE  (idprm_TaskDecision <> 6)
													GROUP BY CaseId) AS casefull INNER JOIN
                                                (SELECT * FROM [192.168.10.11].ExtraBizagiDB.dbo.vw_CaseDescriptionFull) AS casedetail ON casedetail.CaseId = casefull.CaseId AND casefull.idtbl_CaseDescriptions = casedetail.idtbl_CaseDescriptions) 
                         AS a ON a.CaseId = alc.idCase
WHERE        (t.caseId IS NOT NULL)



)
GO
/****** Object:  Table [dbo].[amarDistribute]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amarDistribute](
	[Distributer] [nvarchar](250) NULL,
	[OwenerBrand] [nvarchar](250) NULL,
	[Supplier] [nvarchar](250) NULL,
	[Producer] [nvarchar](250) NULL,
	[IRC] [nvarchar](250) NULL,
	[EnglishNameBrand] [nvarchar](250) NULL,
	[BrandName] [nvarchar](250) NULL,
	[EffectiveMaterial] [nvarchar](250) NULL,
	[GenericCode] [nchar](15) NULL,
	[GenericName] [nvarchar](250) NULL,
	[QuantityPkG] [bigint] NULL,
	[QuantityInPKG] [int] NULL,
	[QuantitySales] [bigint] NULL,
	[ConsumerPrice] [bigint] NULL,
	[OTC] [nvarchar](20) NULL,
	[biological] [nvarchar](20) NULL,
	[License] [bit] NULL,
	[ATCCode] [nchar](20) NULL,
	[ProducerCountry] [nvarchar](100) NULL,
	[Registered] [nchar](10) NULL,
	[Produce/Import] [nchar](10) NULL,
	[year] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demand]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demand](
	[typechild] [nvarchar](11) NOT NULL,
	[typeparent] [nvarchar](6) NOT NULL,
	[Id] [int] NOT NULL,
	[typeId] [int] NOT NULL,
	[centerid] [bigint] NULL,
	[Number] [nvarchar](20) NULL,
	[CustomerKey] [int] NOT NULL,
	[dateKey] [int] NOT NULL,
	[remain] [decimal](20, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAccount]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAccount](
	[IDL1] [int] NULL,
	[CodeL1] [nvarchar](1) NULL,
	[NameL1] [nvarchar](255) NULL,
	[IDL2] [int] NULL,
	[CodeL2] [nvarchar](255) NULL,
	[NameL2] [nvarchar](255) NULL,
	[IDL3] [int] NOT NULL,
	[CodeL3] [nvarchar](255) NOT NULL,
	[NameL3] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimbill]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimbill](
	[id] [int] NULL,
	[centerid] [bigint] NULL,
	[CustomerKey] [int] NULL,
	[PaymentMethodLookup] [int] NULL,
	[DateKey] [int] NULL,
	[ChequeDateKey] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
	[number] [nvarchar](20) NULL,
	[AppliedAmount] [decimal](18, 0) NULL,
	[BouncedReceivableKey] [int] NULL,
	[kind] [nvarchar](9) NOT NULL,
	[cntsalesorderkey] [int] NULL,
	[forjeasli] [int] NULL,
	[takhir_tajil] [int] NULL,
	[season] [int] NOT NULL,
	[InvoiceNetAmount] [decimal](38, 2) NULL,
	[DiscountAmount] [decimal](38, 2) NULL,
	[AmountAllocated] [decimal](38, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimcenter]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimcenter](
	[id] [bigint] NULL,
	[centerkey] [int] NOT NULL,
	[CenterName] [nvarchar](50) NOT NULL,
	[idprovince] [int] NOT NULL,
	[provincename] [nvarchar](255) NOT NULL,
	[mycenter] [int] NOT NULL,
	[Manager] [nvarchar](255) NOT NULL,
	[ManagerEmail] [nvarchar](200) NULL,
	[color] [varchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCity]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCity](
	[ProvinceKey] [int] NULL,
	[Province] [nvarchar](255) NULL,
	[CountyKey] [int] NULL,
	[County] [nvarchar](255) NULL,
	[CityKey] [int] NOT NULL,
	[City] [nvarchar](255) NOT NULL,
	[company] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimcustomer]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimcustomer](
	[CustomerKey] [int] NOT NULL,
	[CustomerCode] [int] NOT NULL,
	[accountid] [int] NOT NULL,
	[Customer] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[IsDeactivated] [bit] NOT NULL,
	[CenterKeyNow] [int] NOT NULL,
	[CenterNow] [nvarchar](50) NULL,
	[CityKey] [int] NULL,
	[CustomerTypeKey] [int] NULL,
	[CustomerType] [nvarchar](50) NULL,
	[PharmacyType] [nvarchar](50) NULL,
	[OwnershipTypeKey] [int] NULL,
	[OwnershipType] [nvarchar](5) NOT NULL,
	[PaymentBehaviorKey] [bit] NULL,
	[PaymentBehavior] [nvarchar](5) NOT NULL,
	[RegulatoryAgencyKey] [int] NULL,
	[kind] [nvarchar](9) NOT NULL,
	[RegulatoryAgency] [nvarchar](50) NULL,
	[CustomerAddressNow] [nvarchar](1024) NULL,
	[DefaultSalesmanKey] [int] NULL,
	[DefaultSalesman] [nvarchar](255) NULL,
	[SalesRouteKeyNow] [int] NULL,
	[SalesRouteNow] [nvarchar](255) NULL,
	[CustomerStatus] [nvarchar](7) NOT NULL,
	[CreatedDateKey] [int] NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[GLN] [nvarchar](50) NULL,
	[company] [int] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDetailAccount]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDetailAccount](
	[AccountId4] [int] NOT NULL,
	[AccountCode4] [nvarchar](255) NOT NULL,
	[AccountName4] [nvarchar](255) NOT NULL,
	[StateAccount4] [bit] NOT NULL,
	[TypeAccountID4] [int] NOT NULL,
	[TypeAccountName4] [nvarchar](255) NULL,
	[AccountId5] [int] NOT NULL,
	[AccountCode5] [nvarchar](255) NOT NULL,
	[AccountName5] [nvarchar](255) NOT NULL,
	[StateAccount5] [bit] NOT NULL,
	[TypeAccountID5] [int] NOT NULL,
	[TypeAccountName5] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diml4]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diml4](
	[AccountId4] [int] NOT NULL,
	[AccountCode4] [nvarchar](255) NOT NULL,
	[AccountName4] [nvarchar](255) NOT NULL,
	[StateAccount4] [bit] NOT NULL,
	[TypeAccountID4] [int] NOT NULL,
	[TypeAccountName4] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diml5]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diml5](
	[AccountId5] [int] NOT NULL,
	[AccountCode5] [nvarchar](255) NOT NULL,
	[AccountName5] [nvarchar](255) NOT NULL,
	[StateAccount5] [bit] NOT NULL,
	[TypeAccountID5] [int] NOT NULL,
	[TypeAccountName5] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimproduct]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimproduct](
	[ProductKey] [int] NOT NULL,
	[ProductCode] [int] NULL,
	[Product] [nvarchar](255) NOT NULL,
	[DateCreate] [date] NULL,
	[SupplierKey] [int] NULL,
	[SupplierCode] [nvarchar](255) NULL,
	[Supplier] [nvarchar](255) NULL,
	[drugid] [int] NULL,
	[JointKey] [int] NULL,
	[EnglishProductName] [nvarchar](255) NULL,
	[DrugShape] [nvarchar](50) NULL,
	[ProductSupplyType] [nvarchar](7) NOT NULL,
	[typeid] [int] NULL,
	[PRoductCategory] [nvarchar](50) NULL,
	[shapeid] [int] NULL,
	[PersianShapeName] [nvarchar](50) NULL,
	[EnglishShapeName] [nvarchar](50) NULL,
	[PurchaseType] [nvarchar](12) NOT NULL,
	[PurchaseTypeCode] [bit] NULL,
	[ProductStatus] [bit] NOT NULL,
	[SimilarKey] [int] NULL,
	[Similar] [nvarchar](15) NULL,
	[PackQuantity] [int] NULL,
	[CartonQuantity] [int] NULL,
	[StoringConditionCode] [int] NULL,
	[StoringCondition] [nvarchar](50) NULL,
	[BlockedStatus] [nvarchar](5) NOT NULL,
	[IsHospitalMedicine] [bit] NULL,
	[IRC] [nvarchar](50) NULL,
	[GTIN] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTarget]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTarget](
	[TargetAmount] [decimal](24, 6) NULL,
	[SalesmanKey] [int] NOT NULL,
	[StartDateKey] [int] NOT NULL,
	[centerid] [bigint] NULL,
	[company] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVisitor]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVisitor](
	[SalesmanKey] [int] NOT NULL,
	[SalesmanCode] [int] NOT NULL,
	[Salesman] [nvarchar](255) NOT NULL,
	[CenterKey] [int] NOT NULL,
	[Center] [nvarchar](50) NULL,
	[PersonalCode] [int] NULL,
	[company] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactFinance]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactFinance](
	[DocHeaderID] [int] NOT NULL,
	[DetailID] [int] NULL,
	[IDL1] [int] NULL,
	[IDL2] [int] NULL,
	[IDL3] [int] NULL,
	[AccountL4] [int] NULL,
	[AccountL5] [int] NULL,
	[AccountL6] [int] NULL,
	[Debit] [decimal](18, 0) NULL,
	[Credit] [decimal](18, 0) NULL,
	[FINDocHeader_FINDocType] [int] NOT NULL,
	[DateKey] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactInventory]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactInventory](
	[Quantity] [int] NULL,
	[QtyReserved] [int] NULL,
	[QtyOnTheWay] [int] NULL,
	[ProductKey] [int] NOT NULL,
	[CenterId] [bigint] NULL,
	[DateKey] [int] NOT NULL,
	[SKUKey] [int] NOT NULL,
	[fiscalyearkey] [smallint] NOT NULL,
	[BatchNumber] [nvarchar](64) NULL,
	[miladiExpire] [date] NULL,
	[ShamsiExpire] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[Cost] [decimal](18, 2) NULL,
	[ConsumerPrice] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factsales]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factsales](
	[DetailId] [int] NOT NULL,
	[HeaderId] [int] NULL,
	[ProductKey] [int] NOT NULL,
	[DateKey] [int] NULL,
	[centerID] [bigint] NULL,
	[CustomerKey] [int] NULL,
	[SalesmanKey] [int] NULL,
	[InvoiceNumber] [int] NULL,
	[OrderNumber] [int] NULL,
	[Quantity] [int] NOT NULL,
	[DiscountQuantity] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 0) NOT NULL,
	[LostSalesQuantity] [int] NULL,
	[NIQuantity] [int] NOT NULL,
	[NIDiscountQuantity] [int] NOT NULL,
	[DueDateDuration] [int] NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ConsumerPrice] [decimal](18, 2) NOT NULL,
	[VAT] [decimal](34, 0) NULL,
	[DiscountQuantityVAT] [decimal](34, 0) NOT NULL,
	[ShipDateKey] [int] NULL,
	[DueDateKey] [int] NULL,
	[InvoiceNetAmount] [decimal](18, 2) NULL,
	[VATPerc] [decimal](4, 4) NOT NULL,
	[InvoiceSpecialDDDIncrease] [int] NOT NULL,
	[company] [int] NOT NULL,
	[returnQuantity] [int] NOT NULL,
	[returnDiscountQuantity] [int] NOT NULL,
	[returnDiscountAmount] [decimal](38, 0) NOT NULL,
	[returnCost] [decimal](38, 6) NOT NULL,
	[returnPrice] [decimal](38, 6) NOT NULL,
	[returnConsumerPrice] [decimal](38, 6) NOT NULL,
	[reasonlookup] [int] NULL,
	[MainDueDateDuration] [int] NULL,
	[ApprovedDateKey] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSalesBatch]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSalesBatch](
	[DetailId] [int] NULL,
	[HeaderId] [int] NULL,
	[ProductKey] [int] NULL,
	[DateKey] [int] NULL,
	[CenterKey] [int] NULL,
	[CustomerKey] [int] NULL,
	[SalesmanKey] [int] NULL,
	[InvoiceNumber] [int] NULL,
	[OrderNumber] [int] NULL,
	[Quantity] [int] NULL,
	[DiscountQuantity] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 0) NOT NULL,
	[LostSalesQuantity] [int] NULL,
	[NIQuantity] [int] NULL,
	[NIDiscountQuantity] [int] NOT NULL,
	[DueDateDuration] [int] NULL,
	[Cost] [decimal](18, 2) NULL,
	[Price] [decimal](18, 2) NULL,
	[ConsumerPrice] [decimal](18, 2) NULL,
	[VAT] [decimal](34, 0) NULL,
	[DiscountQuantityVAT] [decimal](34, 0) NOT NULL,
	[ShipDateKey] [int] NULL,
	[DueDateKey] [int] NULL,
	[InvoiceNetAmount] [decimal](18, 2) NULL,
	[VATPerc] [decimal](4, 4) NULL,
	[InvoiceSpecialDDDIncrease] [int] NOT NULL,
	[StatusSetid] [int] NULL,
	[DetailCreatedKey] [int] NULL,
	[company] [int] NOT NULL,
	[OrderDetailSKUsid] [int] NOT NULL,
	[ReturnDetailSKUsid] [int] NULL,
	[ReturnDetailsid] [int] NULL,
	[returnheaderid] [int] NULL,
	[returnTotalQuantity] [int] NULL,
	[returnquantity] [int] NULL,
	[returnDiscountQuantity] [int] NULL,
	[returnDiscountAmount] [decimal](18, 0) NULL,
	[returnCost] [decimal](18, 2) NULL,
	[returnPrice] [decimal](18, 2) NULL,
	[returnConsumerPrice] [decimal](18, 2) NULL,
	[ReasonLookup] [int] NULL,
	[Created] [datetimeoffset](7) NULL,
	[ApprovedDateKey] [int] NULL,
	[skukey] [int] NULL,
	[BatchNumber] [nvarchar](64) NULL,
	[LookupPurchaseType] [bit] NULL,
	[returnDate] [datetimeoffset](7) NULL,
	[kindsales] [nvarchar](7) NULL,
	[ExpireAlternateDateKey] [date] NULL,
	[HaveGTIN_B] [bit] NULL,
	[HaveIRC_B] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testsales]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testsales](
	[DetailId] [int] NOT NULL,
	[HeaderId] [int] NULL,
	[InvoiceNumber] [int] NULL,
	[Quantity] [int] NOT NULL,
	[DiscountQuantity] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 0) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[DueDateKey] [int] NULL,
	[DateKey] [int] NULL,
	[returnQuantity] [int] NOT NULL,
	[returnPrice] [decimal](38, 6) NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[Customer] [nvarchar](255) NOT NULL,
	[CenterKeyNow] [int] NOT NULL,
	[CustomerCode] [int] NOT NULL,
	[GLN] [nvarchar](50) NULL,
	[ProductKey] [int] NOT NULL,
	[ProductCode] [int] NULL,
	[Product] [nvarchar](255) NOT NULL,
	[centerkey] [int] NOT NULL,
	[centerid] [bigint] NULL,
	[CenterName] [nvarchar](50) NOT NULL,
	[provincename] [nvarchar](255) NOT NULL,
	[idprovince] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titaccustomer]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titaccustomer](
	[idtitac] [bigint] NULL,
	[gln] [nvarchar](16) NULL,
	[OwnerName] [nvarchar](250) NULL,
	[Provice] [nvarchar](100) NULL,
	[Latitude] [decimal](24, 11) NULL,
	[Longitude] [decimal](24, 11) NULL,
	[customerkey] [int] NULL,
	[customername] [nvarchar](255) NULL,
	[centerid] [bigint] NULL,
	[mycustomer] [int] NOT NULL,
	[newcenter] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[useraccess]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useraccess](
	[centerid] [bigint] NULL,
	[username] [nvarchar](203) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kharazmi].[dimArea]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kharazmi].[dimArea](
	[SalesAreaID] [bigint] NOT NULL,
	[area] [nvarchar](128) NOT NULL,
	[channel] [nvarchar](128) NOT NULL,
	[division] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kharazmi].[dimcenterpakhsh]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kharazmi].[dimcenterpakhsh](
	[id] [bigint] NULL,
	[centerid] [int] NOT NULL,
	[CenterName] [nvarchar](50) NOT NULL,
	[idprovince] [int] NOT NULL,
	[provincename] [nvarchar](255) NOT NULL,
	[mycenter] [int] NOT NULL,
	[pakhsh] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kharazmi].[dimcustomer]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kharazmi].[dimcustomer](
	[CustomerID] [bigint] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[DLID] [bigint] NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[namecustomer] [nvarchar](101) NULL,
	[State] [int] NOT NULL,
	[partyid] [bigint] NULL,
	[CreationDate] [date] NULL,
	[Latitude] [nvarchar](64) NULL,
	[Longitude] [nvarchar](64) NULL,
	[RegionalDivisionRef] [bigint] NULL,
	[Details] [nvarchar](2048) NULL,
	[TitleDl] [nvarchar](512) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kharazmi].[DimCustomerPakhsh]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kharazmi].[DimCustomerPakhsh](
	[customerid] [int] NOT NULL,
	[CustomerCode] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[CenterKeyNow] [int] NOT NULL,
	[CustomerTypeKey] [int] NULL,
	[CustomerType] [nvarchar](50) NULL,
	[OwnershipType] [nvarchar](5) NOT NULL,
	[OwnershipTypeKey] [int] NULL,
	[GLN] [nvarchar](50) NULL,
	[pakhsh] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kharazmi].[dimproduct]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kharazmi].[dimproduct](
	[ProductID] [bigint] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[name] [nvarchar](256) NOT NULL,
	[state] [int] NOT NULL,
	[statename] [nvarchar](7) NOT NULL,
	[IRC] [nvarchar](256) NULL,
	[ParvaneDate] [datetime] NULL,
	[sodorparvane] [datetime] NULL,
	[GTIN] [nvarchar](256) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kharazmi].[dimproductgroup]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kharazmi].[dimproductgroup](
	[idSath1] [bigint] NOT NULL,
	[NameSath1] [nvarchar](100) NOT NULL,
	[idSath2] [bigint] NULL,
	[NameSath2] [nvarchar](250) NULL,
	[idSath3] [bigint] NULL,
	[NameSath3] [nvarchar](250) NULL,
	[idSath4] [bigint] NULL,
	[NameSath4] [nvarchar](250) NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityGroupingID] [bigint] NOT NULL,
	[id] [bigint] NULL,
	[PartID] [bigint] NULL,
	[Code] [nvarchar](64) NULL,
	[Name] [nvarchar](256) NULL,
	[State] [int] NULL,
	[PropertiesComment] [nvarchar](2000) NULL,
	[ProductID] [bigint] NULL,
	[SecondCode] [nvarchar](50) NULL,
	[statename] [nvarchar](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kharazmi].[Factsales]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kharazmi].[Factsales](
	[OrderID] [bigint] NOT NULL,
	[OrderItemID] [bigint] NULL,
	[CustomerRef] [bigint] NOT NULL,
	[BrokerRef] [bigint] NULL,
	[AgentRef] [bigint] NULL,
	[OrderDate] [int] NULL,
	[InvoiceDate] [int] NULL,
	[InventoryRef] [bigint] NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[SalesAreaRef] [bigint] NULL,
	[State] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[ProductRef] [bigint] NULL,
	[InvoiceID] [bigint] NULL,
	[InvoiceItemID] [bigint] NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
	[ReductionAmount] [decimal](28, 6) NOT NULL,
	[AdditionAmount] [decimal](28, 6) NOT NULL,
	[InvoiceNetPrice] [decimal](38, 6) NULL,
	[Quantity] [decimal](28, 6) NULL,
	[ReturnInvoiceItemID] [bigint] NULL,
	[ReturnInvoiceRef] [bigint] NULL,
	[ReturnNetPrice] [numeric](28, 6) NOT NULL,
	[ReturnQuantity] [numeric](28, 6) NOT NULL,
	[ReturnAdditionAmount] [numeric](28, 6) NOT NULL,
	[ReturnReductionAmount] [numeric](28, 6) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [kharazmi].[Target]    Script Date: 6/15/2025 4:03:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kharazmi].[Target](
	[amount] [float] NULL,
	[cnt] [float] NULL,
	[product] [nvarchar](255) NULL,
	[productcode] [nvarchar](50) NULL,
	[month] [bigint] NULL,
	[pakhshcode] [float] NULL,
	[pakhshname] [nvarchar](255) NULL
) ON [PRIMARY]
GO
